/* SE1B YE LYNN OO */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    background-color: #f0ffba;
    background-image: url(../../課題07/images/ECCPizza_back.jpg);
    background-position: left top;
}

header{
    width: 80%;
    margin: 10px auto;
}

main{
    width: 80%;
    margin: 20px auto 0 auto;
}

#mainVisual{
    margin: 20px 0;
}

#mainVisual img{
    width: 100%;
}

.pasta{
    position: relative;
    z-index: 1;
    width: 320px;
    margin: 45px 0;
}

.pasta p{
    font-size: 0.8em;
}

.image img{
    background-color: #fff;
    padding: 3px;
    border: 1px solid #7d7760;
}

.item{
    text-align: center;
    padding: 10px;
}

.icon{
    position: absolute;
    top: -30px;
    left: -30px;
    z-index: 10;
}
 
.scroll-top{
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 100;
}

footer{
    font-size: 0.8em;
    text-align: center;
    padding: 10px 0;
    border-top: 1px dotted #666;
}