#title{
    color: #00baff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4em;
    letter-spacing: 0.3em;
    text-align: center;
}
p{
    line-height: 1.5;
    text-indent: 1em;
}
.sub-title{
    color: #2bc;
    font-size: 18px;
}
em{
    color: #22f;
    font-style: normal;
    font-weight: bold;
}
.keyword{
    color: #f2b;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-decoration: underline;
}
#copy{
    font-size: 10px;
    text-align: center;
}