/*SE1B 2250098 YE LYNN OO 2025/06/25*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    list-style: none;
}
img{
    border: none;
    vertical-align: top;
}
header{
    background-color: #f0ffba;
    width: 100%;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    margin: 5px 0;
}
.nav-menu{
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
}
.nav-menu li{
    margin: 0 10px;
}
main{
    width: 90%;
    margin: 10px auto;
}
h2 img{
    width: 100%;
}
h3{
    border-bottom: 1px solid red;
    margin: 5px 0;
    text-indent: 1em;
}
.menu-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.item{
    width: 30%;
    margin: 5px 0;
}
.item-image{
    width: 100%;
}
.item-info{
    padding: 5px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.price{
    font-weight: bold;
}
.scroll-top{
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 100;
}
footer{
    background-color: #f0ffba;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}
.sns-icons{
    width: 100%;
}
.sns-icons img{
    margin: 20px;
    vertical-align: middle;
}