body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: #7ae;
    background-image: url(../images/kadai07_bkline.jpg);
    background-position: left top;
    background-repeat: repeat-x;
}
h1{
    color: #ccf;
    font-size: 1.4em;
    padding-bottom: 10px;
}
h2{
    color: #fff;
    font-size: 1em;
    margin-top: 10px;
    padding: 5px;
    border-bottom: 1px solid #c30;
}
p{
    line-height: 1.3;
}
main{
    background-image: url(../images/kadai07_standards.png);
    background-position: right top;
    background-repeat: no-repeat;
}
#content_top,#content_bottom{
    text-indent: 1em;
    padding: 10px 0 10px 5px;
}
.border{
    border-right: 1px dotted #fff;
    border-bottom: 1px dotted #fff;
}