/*<!--SE1B 2250098 YE LYNN OO-->*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style: none;
}

img{
    border: none;
    vertical-align: top;
}

a:link{
    text-decoration: none;
    color: #9999ff;
}

a:visited{
    color: #ff7f7f;
}

a:hover{
    color: #ff0000;
}

h3{
    font-size: 1.8em;
    text-align: center;
}

header{
    padding: 0 5%;
    width: 100%;
    background-color: #f0ffba;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
}

h1{
    margin: 5px 0;
}

nav .nav-menu {
  display: flex;
  flex-wrap: wrap;
}

nav .nav-menu li {
  font-weight: bold;
  padding: 0 10px;
}

main {
    margin: 0 auto;
    max-width: 1200px;
}

h2 img{
    width: 100%;
    margin-top: auto;
}

.about{
    background-image: url("images/about.jpg");
    width: 100%;
    height: 450px;
    margin: 10px 0;
    background-position: center;
    display: flex;
    flex-direction: row-reverse;
}

.about-info{
    width: 50%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.about-info a{
    text-decoration: underline;
    color: white;
}

.about-info a:hover{
    font-size: 1.1em;
}

.popular-items h3{
    margin: 10px 0 10px 0;
    border-bottom: 1px solid #ff0000;
    
}

.item-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px 0;
}

.popular-item {
    width: 45%;
    min-width: 360px;
    margin: 5px 0;
    font-size: 1.3em;
    
}

.popular-item img {
    width: 100%;
    height: auto;

}

.item-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px;
    align-items: center;
}

.price{
    font-weight: bold;
    margin: 5px;
}

.items-link{
    padding: 10px;
    text-align: right;
}

.news {
    margin: 10px 0;
}

.news h3{
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #ff0000;
}

.news table{
    width: 100%;
}

.news th, tfoot td{
    padding: 10px 0 10px 0;
}

.news th, td{
    border-bottom: 1px solid #ccc;
}

.news tfoot td{
    text-align: center;
}

.scroll-top{
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 100;
}

footer{
    padding: 10px 0;
    background-color: #f0ffba;
    text-align: center;
}

.sns-icons{
    width: 100%;
    align-items: center;
}

.sns-icons img{
    text-align: center;
    margin: 20px;
}

form{
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

form h2{
    border-bottom: 1px solid #ff0000;
    margin-bottom: 5px;
}

form div{
    width: 90%;
    margin: 20px auto;
}

.form-header{
    margin: 10px auto;
}
input, select{
    margin: 0 10px;
}

input[type="text"]{
    width: 60%;
    padding: 5px;
}

textarea{
    width: 100%;
    padding: 5px;
}

#submit{
    width: 100%;
    height: 2em;
    font-size: 1.3em;
    background-color: aqua;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
}

#submit:hover{
    background-color: aquamarine;
}