body{

    background-color: #f0ffba;
    background-image: url(../images/ECCPizza_back.jpg);
    background-position: left top;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 100%;
    padding: 20px;
}

.title{
    color: #3f200e;
    font-size: 20px;
    border-bottom: 3px solid #8f7517;
}

.item{
    margin: 10px 0 10px 0;
    padding: 10px;
    border: 1px dotted #453933;
}

.item p{
    font-size: 0.9em;
    margin: 10px;
    padding: 5px 0 5px 0;
}

.item img{
    background-color: #fff;
    padding: 2px;
    border: 1px solid #bebebe;
}

.item_title{
    background-color: #281105;
    color: #fff;
    text-decoration: none;
    padding: 0.3em;
}

.item_price{
    padding: 1em;
}

footer{
    text-align: center;
}