*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style: none;
}

img{
    border: none;
    vertical-align: top;
}

a:link{
    text-decoration: none;
    color: #9999ff;
}

a:visited{
    color: #ff7f7f;
}

a:hover{
    color: #ff0000;
}

h3{
    font-size: 1.8em;
    text-align: center;
}

header{
    padding: 0 5%;
    width: 100%;
    background-color: #f0ffba;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    position: sticky;
}

h1{
    margin: 5px 0;
}

nav .nav-menu {
  display: flex;
  flex-wrap: wrap;
}

nav .nav-menu li {
  font-weight: bold;
  padding: 0 10px;
}

.container{
    display: flex;
    justify-content: center;
}

.mapInfo img{
    width: 400px;
}

.mapInfo{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.information{
    margin-top: 30px;
    padding: 10px;
}

.branches{
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    width: 300px;
    height: 100px;
    padding: 10px;
    color: #ff0000;
}


footer{
    margin-top: 10px;
    padding: 10px 0;
    background-color: #f0ffba;
    text-align: center;
}

.sns-icons{
    width: 100%;
    align-items: center;
}

.sns-icons img{
    text-align: center;
    margin: 20px;
}